[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
plotly = "*"
imageio = "*"
matplotlib = "*"
tensorflow = "*"
seaborn = "*"
prettytable = "*"
tabulate = "*"
scikit-learn = "*"
networkx = "*"

[dev-packages]

[requires]
python_version = "3.12"
